body {
    background-color: #e6e9e9;
    max-width: 1000px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, p {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
}
h1 {
    font-size: 36px;
    margin: 10px;
    padding: 5px;
}
h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: #0083e8;
    font-size: 14px;
    text-decoration: none;
}

.topnav {
    background-color: blue;
    width: 200px;
    padding: 5px;
}


img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}
